input {
	background : #FFFFFF;
	border : 1px solid rgb(117,144,174);
	color: rgb(33,50,66);
}

input[type="submit"], input[type="button"], input[type="reset"] {
	background : #dce6f1;
}

body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 73%;  /* Enables font size scaling in MSIE */
  margin: 0;
  padding: 0;
}

dt {
	float: left;
	width: 95px;
}
dd {
	margin-left: 100px;
}
table {
  display:table;
  background: #c3d3e5;
  color: rgb(33,50,66);
  border-collapse:collapse;
  margin:15px 0;
  padding:0;
  border:1px solid rgb(117,144,174);
  font-size:100%;
}

tr {
  display:table-row;
}

th, td {
  display: table-cell;
  border:1px solid rgb(117,144,174);
  margin:0;
  padding:5px;
  vertical-align:top;
  text-align:left;
}

tr.l2 td {
  background: #dce6f1;
}

th {
  background-color: rgb(33,50,66);
  text-align:center;
  color: rgb(130,128,154);
  font-weight:bold;
}

html > body {
  font-size: 9pt;
}

acronym, .titleTip {
  border-bottom: 1px dotted rgb(61,92,122);
  cursor: help;
  margin: 0;
  padding: 0 0 0.4px 0;
}

a {
  color: rgb(61,92,122);
  background-color: transparent;
  text-decoration: underline;
  margin: 0;
  padding: 0 1px 2px 1px;
}

a:hover {
 color: rgb(117,144,174);
 text-decoration: none;
}

ol {
  margin: 1em 0 1.5em 0;
  padding: 0;
}

ul {
  list-style-type: square;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

dl {
  margin: 1em 0 0.5em 0;
  padding: 0;
}

ul li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 1.5em;
  padding: 0;
}

ol li {
  line-height: 1.5em;
  margin: 1.25ex 0 0 2em;
  padding: 0;
}

dt {
  font-weight: bold;
  margin: 0;
  padding: 0 0 1ex 0;
}

dd {
  line-height: 1.75em;
  margin: 0 0 1.5em 1.5em;
  padding: 0;
}

.doNotDisplay {
  display: none !important;
}


.smallCaps {
  font-size: 117%;
  font-variant: small-caps;
}

/* Common */
.error_msg {
	color: red;
	border-width: 2px;
	border-style: solid;
	font-weight: bold;
	text-align: center;
	width: 50%;	
	margin:auto;
	padding: 5px
}

.ok_msg {
	color: blue;
	border-width: 2px;
	border-style: solid;
	font-weight: bold;
	text-align: center;
	width: 50%;	
	margin:auto;
	padding: 5px
}

/* ##### Header ##### */

header{
	z-index:100;
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

nav {
  color: white;
  background-color: rgb(47,78,104);
  margin: 0;
  padding: 0.5ex 10px;
}

nav a, nav .highlight {
  color: white;
  background-color: transparent;
  font-size: 110%;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 0 0.25ex 0 0;
}

nav a:hover, nav .highlight {
  color: rgb(255,204,0);
  background-color: transparent;
  text-decoration: none;
}

/* ##### Side Menu ##### */

#side-bar {
  color: rgb(204,204,204);
  background-color: transparent;
  list-style-type: square;
  list-style-position: inside;
  width: 11em;
  margin: 0;
  padding: 1ex 0;
  border: 1px solid rgb(204,204,204);
  position: absolute;
  left: 1.5ex;
  top: 12em;
	z-index:2000;
}

#side-bar li {
  color: #FF0000;
}

#side-bar li.online {
  color: #00FF00;
}

[id="side-bar"] {
  position: fixed !important;  /* Makes the side menu scroll with the page. Doesn't work in MSIE */
}

#side-bar a {
  text-decoration: none;
}

#side-bar:hover {
  color: rgb(117,144,174);
  background-color: transparent;
  border-color: rgb(117,144,174);
}

#side-bar li {
  margin: 0;
  padding: 0.75ex 0 1ex 1.75ex;
}

#side-bar li:hover {
  color: rgb(61,92,122);
  background-color: transparent;
}


#side-bar li a:hover {
  text-decoration: underline;
}


/* ##### Main Copy ##### */

#main-copy {
  text-align: justify;
  clear: left;
}

h1 {
  color: rgb(154,210,202);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 186%;
  margin: 0;
  padding: 1.2ex 0 0 0;
}

h2 {
  color: rgb(61,92,122);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 151%;
  margin: 0;
  padding: 1ex 0 0 0;
}

p {
  line-height: 1.75em;
  margin: 1em 0 1.5em 0;
  padding: 0;
}

.newsHeading {
  color: rgb(61,92,122);
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 145%;
  text-decoration: none;
  margin: 0;
  padding: 1ex 0 0 0;
  display: block;
}

.newsHeading:hover {
  color: rgb(117,144,174);
  background-color: transparent;
  text-decoration: underline;
}

.newsDate {
  font-style: italic;
  margin: 0 !important;
  padding: 0;
}

.newsSummary {
  margin: 1.5ex 0 2.5ex 0.75ex !important;
  padding: 0;
}

.more {
  text-align: right;
  margin: 0;
  padding: 0.5em 0;
}

.more a {
  color: rgb(61,92,122);
  background-color: transparent;
  font-size: 92%;
  text-decoration: underline;
  margin: 0;
  padding: 0.25ex 0.75ex;
}

.more a:hover {
  color: rgb(117,144,174);
  text-decoration: none;
}


/* ##### Colums ##### */
.three_cols {
	width: 31%;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.two_cols {
	width: 45%;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}
